.container {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-image: url("https://i.pinimg.com/564x/eb/bf/4b/ebbf4b657a1fda43e3a079a1b92f2e24.jpg");
}
.days {
  padding: 40px;
  font-family: monospace;
  font-display: center;
  color: black;
}

.data {
  margin: 0px;
  padding: 30px;
  display: block;
}
h2 {
  display: block;
  font-family: monospace;
  padding: 20px;
  color: black;
}
li {
  font-family: monospace;
  list-style: none;
  padding-left: 20px;
  color: black;
}
.float-left {
  font-family: monospace;
  display: block;
  padding-left: 50px;
  padding-bottom: 20px;
  color: black;
}
.search-form {
  width: 400px;
}
.locations {
  width: 300px;
}
.col-6 {
  font-size: large;
}
.col-3 {
  width: 200px;
}
.button {
  width: 100px;
}
