.container {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-image: url("https://i.pinimg.com/564x/8e/04/76/8e0476b658d852a4f691f51a4d5dad4b.jpg");

.days {
  padding: 40px;
  font-family: monospace;
  font-display: center;
  color: white;
}

.data {
  margin: 0px;
  padding: 30px;
  display: block;
}
h2 {
  display: block;
  font-family: monospace;
  padding: 20px;
  color: white;
}
li {
  font-family: monospace;
  list-style: none;
  padding-left: 20px;
  color: white;
}
.float-left {
  font-family: monospace;
  display: block;
  padding-left: 50px;
  padding-bottom: 20px;
  color: white;
}
.search-form {
  width: 400px;
}
.locations {
  width: 300px;
}
.col-6 {
  font-size: large;
}
.col-3 {
  width: 200px;
}
.button {
  width: 100px;
}
